
.cm-s-base16-dark.CodeMirror { background: #1b2b34; color: #ffffff; }
.cm-s-base16-dark div.CodeMirror-selected { background: #4f5b66; }
.cm-s-base16-dark .CodeMirror-line::selection, .cm-s-base16-dark .CodeMirror-line > span::selection, .cm-s-base16-dark .CodeMirror-line > span > span::selection { background: #4f5b66; }
.cm-s-base16-dark .CodeMirror-line::-moz-selection, .cm-s-base16-dark .CodeMirror-line > span::-moz-selection, .cm-s-base16-dark .CodeMirror-line > span > span::-moz-selection { background: #4f5b66; }
.cm-s-base16-dark .CodeMirror-gutters { background: #343d46; border-right: 0px; }
.cm-s-base16-dark .CodeMirror-guttermarker { color: #ec5f67; }
.cm-s-base16-dark .CodeMirror-guttermarker-subtle { color: #65737e; }
.cm-s-base16-dark .CodeMirror-linenumber { color: #65737e; }
.cm-s-base16-dark .CodeMirror-cursor { border-left: 1px solid #ffffff; }

.cm-s-base16-dark span.cm-comment { color: #f99157; }
.cm-s-base16-dark span.cm-atom { color: #c594c5; }
.cm-s-base16-dark span.cm-number { color: #c594c5; }

.cm-s-base16-dark span.cm-property, .cm-s-base16-dark span.cm-attribute { color: #99c794; }
.cm-s-base16-dark span.cm-keyword { color: #ec5f67; }
.cm-s-base16-dark span.cm-string { color: #fac863; }

.cm-s-base16-dark span.cm-variable { color: #99c794; }
.cm-s-base16-dark span.cm-variable-2 { color: #62b3b2; }
.cm-s-base16-dark span.cm-def { color: #fac863; }
.cm-s-base16-dark span.cm-bracket { color: #e0e0e0; }
.cm-s-base16-dark span.cm-tag { color: #ec5f67; }
.cm-s-base16-dark span.cm-link { color: #c594c5; }
.cm-s-base16-dark span.cm-error { background: #ec5f67; color: #65737e; }

.cm-s-base16-dark .CodeMirror-activeline-background { background: #1b2b34; }
.cm-s-base16-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #ffffff !important; }
